postgresql['enable'] = false
gitlab_rails['db_adapter'] = 'postgresql'
gitlab_rails['db_encoding'] = 'unicode'
gitlab_rails['db_host'] = 'localhost'
gitlab_rails['db_port'] = 5432
gitlab_rails['db_username'] = '{{ gitlab_db_username }}'
gitlab_rails['db_password'] = '{{ gitlab_db_password }}'
